* {
  box-sizing: border-box;
}

:root {
  --primary-color: #101010;
  --secondary-color: #303030;
  --contrast: #7c7979;
}

body {
  font-family: Arial;
  background: var(--primary-color);
  padding: 200px;
  color: white;
}

main {
  background: var(--secondary-color);
}

section {
  margin-top: 20px;
}

button {
  width: 100px;
  height: 40px;
}

label {
  margin-bottom: 5px;
}

input {
  width: 400px;
  height: 30px;
  border: none;
  background: none;
  color: white;
  border-bottom: 1px white solid;
}

input::placeholder {
  color: white;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

form div {
  margin: 20px 5px;
}

.p-default {
  padding: 30px;
}

.p-10 {
  padding: 10px;
}

.p-5 {
  padding: 5px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-5 {
  border-radius: 5px;
}

.card {
  background: var(--contrast);
}

.task-complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.disable {
  display: none;
}
