* {
  box-sizing: border-box;
}

:root {
  --primary-color: #2a4d69;
  --secondary-color: #4b8b3b;
  --contrast: #f1f1f1;
}

body {
  font-family: Arial;
  background: var(--primary-color);
  padding: 50px 100px;
  color: var(--contrast);
}

main {
  background: var(--secondary-color);
}

section {
  margin-top: 20px;
}

button {
  width: 100px;
  height: 40px;
}

label {
  margin-bottom: 5px;
}

input {
  width: 400px;
  height: 30px;
  border: none;
  background: none;
  border-bottom: 1px #252525 solid;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.p-default {
  padding: 30px;
}

.p-10 {
  padding: 10px;
}

.p-5 {
  padding: 5px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-5 {
  border-radius: 5px;
}

.card {
  width: 300px;
  background-color: #252525;
  color: white;
}

.container {
  color: #252525;
  background: var(--contrast);
}

.task-complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.disable {
  display: none;
}

@media screen and (max-width: 468px) {
  body {
    padding: 10px 5px;
  }

  input {
    width: 200px;
  }
}
